<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>K4R3N</title>
  </head>
  <body>
    <div id="top-bar">
      <strong>Hi, I'm K4R3N</strong>
    </div>

    <div id="profile-photo"></div>

    <div class="chat-container" id="chat-container">
          {{#each messages}}
        <div class="chat-bubble {{this.role}}-bubble">
          {{this.content}}
        </div>
      {{/each}}
      {{#if loading}}
           
      {{/if}}
    </div>

    <form class="color-search input-container" id="message-form" method="post">
      <input
        type="text"
        class="input-box"
        placeholder="What do you want Plankton."
        id="message-input"
        name="message"
        required="required"
      />
      <button
        class="send-button"
        name="button"
        value="submit"
        type="submit"
      >Send</button>
      <button
        class="clear-button"
        id="clear-chat"
        type="button"
      >Clear</button>
    </form>

    <script>
      // Function to append a message bubble to the chat container function
      function appendMessage(text, role) {
      var container = document.getElementById('chat-container');
      var bubble = document.createElement('div');
      bubble.className = `chat-bubble ${role}-bubble`;
      bubble.innerHTML = text;
      container.appendChild(bubble);
      scrollToBottom(container); // Scroll to the bottom after appending the message
    }
      

    // Event listener for the form submission
    document.getElementById('message-form').addEventListener('submit', function(event) {
      var input = document.getElementById('message-input');
      var message = input.value.trim();
      
      if (message) {
        // Append user message
        appendMessage(message, 'user');
        appendMessage("<span class='loader'></span>","assistant");
        // input.value = ''; // Clear the input box
        let button = document.querySelector('.send-button');
        button.disabled = true;
        scrollToBottom(div);
      }
    });
      function scrollToBottom(div) {
      div.scrollTop = div.scrollHeight - div.clientHeight;
    }
     // Event listener for the clear button
  document.getElementById('clear-chat').addEventListener('click', function() {
    // Clear all messages in the chat container by setting its HTML content to an empty string
    document.getElementById('chat-container').innerHTML = '';

    // Append the "What's up, Plankton." message as K4R3N's response
    appendMessage("What's up, Plankton.", "assistant");
  });
     // Initial scroll to the bottom of the chat container
  scrollToBottom(document.getElementById('chat-container'));
</script>
</body>
</html>